.enerccio_sideprompt_openButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

#enerccio_sidequery_prompt {
    overflow-y: auto;
    max-width: 90dvw;
    max-height: 90dvh;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid var(--SmartThemeBorderColor);
    position: fixed;
    padding: 10px;
    padding-top: 10px;
    padding-top: 25px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px var(--black70a);
    z-index: 4000;
    left: 0;
    top: 0;
    margin: 0;
    right: unset;
    width: calc(((100dvw - var(--sheldWidth)) / 2) - 1px);
    height: unset;
}
